<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TemplateMapper">
    <resultMap id="TemplateResultMap"
               type="com.example.TaskFlow.model.response.template.ProjectTemplatesResponse">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="configJson" column="config_json"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findAllTemplate" resultMap="TemplateResultMap">
        SELECT
        id,
        name,
        description,
        config_json,
        created_by,
        created_at,
        updated_at
        FROM project_templates
        ORDER BY created_by ASC
    </select>

    <select id="countByTemplate" resultType="boolean">
        SELECT CASE WHEN EXISTS(
        SELECT 1 FROM project_templates WHERE name = #{templateName}
        ) THEN 1 ELSE 0 END
    </select>

    <insert id="insertTemplate"
            parameterType="com.example.TaskFlow.model.response.template.ProjectTemplatesResponse">
        INSERT INTO project_templates (name, description, config_json, created_by)
        VALUES (
            #{name},
            #{description},
            #{configJson, typeHandler=com.example.TaskFlow.mybatis.handler.JsonbTypeHandler},
            #{createdBy}
        )
    </insert>
</mapper>