@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

#root {
  height: 100vh;
  width: 100%;
}

body {
  font-family: "Pretendard", sans-serif;
}
