@use "base_mixin" as *;

:global(.error-font) {
  color: var(--error-color);
  margin-top: 8px;
  font-size: 16px;
}

:global(.ellipsis_data) {
  display: block;
  max-width: 98%;
  @include ellipsis();
}

.hidden {
  display: none !important;
}

// --------------------------- 버튼 --------------------------- //
.btn {
  padding: 15px 20px;
  border: none;
  outline: none;
  color: #eee;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-out;

  &:hover {
    transform: translateY(-3px);
  }
}

.btn-primary {
  background-color: var(--btn-black);
  color: var(--font-white);
}

.btn-danger {
  background-color: var(--error-color);
  color: var(--font-white);
}

.btn-gray {
  background-color: var(--btn-gray);
  color: var(--font-default);
}

.btn-small {
  padding: 6px 12px;
  font-size: 0.7rem;
}

.btn-medium {
  padding: 10px 16px;
  font-size: 0.9rem;
}

.btn-large {
  padding: 14px 22px;
  font-size: 1.1rem;
}

.btn:active {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}

/* 비활성화 상태 옵션 */
.btnDisabled {
  pointer-events: none;
  opacity: 0.6;
  box-shadow: none;
}

/* ------------------ 텍스트 버튼 variant ------------------ */
.btnText {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  box-shadow: none;
  transform: none; // fill버튼 hover transform 영향 제거

  // uiverse 스타일 변수
  --primary-color: #111;
  --hovered-color: #c84747;

  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  font-weight: 600;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    transform: none;
  }

  &::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }

  &:hover::after {
    width: 100%;
  }

  &:hover .btnTextIcon {
    transform: translateX(4px);
    color: var(--hovered-color);
  }
}

.btnTextLabel {
  margin: 0;
  position: relative;
  font-size: 16px;
  color: var(--primary-color);

  &::before {
    position: absolute;
    content: attr(data-text);
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }

  .btnText:hover &::before {
    width: 100%;
  }
}

.btnTextIcon {
  color: var(--primary-color);
  width: 15px;
  position: relative;
  transition: 0.2s;
  transition-delay: 0.2s;
}

// --------------------------- Checkbox --------------------------- //
/* From Uiverse.io by SelfMadeSystem */
.container {
  cursor: pointer;
}

.container {
  input {
    display: none;
  }
}

.container {
  svg {
    overflow: visible;
  }
}

.path {
  fill: none;
  stroke: var(--btn-black);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}

// --------------------------- Main --------------------------- //
.mainContent {
  // position: relative;
  width: 100%;
  // height: calc(100% - 80px - 40px); // 헤더 + 푸터 뺀 높이
  height: 100%;
  padding-top: 80px; // 헤더만큼 띄우기
  // padding-bottom: 40px; // 푸터만큼
  display: flex;
}

// --------------------------- 테이블 리스트 --------------------------- //
.table_wrap {
  position: relative;
  width: 100%;
  box-sizing: border-box;

  table {
    width: 100%;
  }

  thead th {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    box-sizing: border-box;
    text-align: left;
    background: var(--bg-lightGray);
    border-bottom: 2px solid var(--line-default);
  }

  td {
    position: relative;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid var(--line-default);
    box-sizing: border-box;
  }

  tbody {
    // 테이블데이터 선택 hover 공통 규칙
    tr:hover th,
    tr:hover td {
      background-color: var(--bg-lightGray);
    }
  }
}

// --------------------------- 팝업 --------------------------- //
.popup {
  .pop_small {
    width: 440px;
  }

  .pop_medium {
    width: 550px;
  }

  .pop_big {
    width: 800px;
  }

  .pop_large {
    width: 1100px;
  }
}

.bg_wrap {
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.popup {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;

  &::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    margin-left: -2px;
    vertical-align: middle;
  }
}

.layerpop {
  z-index: 999;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 440px;
  max-height: 98%;
  line-height: 1.5;
  text-align: left;
  background: white;
  vertical-align: middle;
  border-radius: 4px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);

  .pophead {
    padding: 20px 24px;
    box-sizing: border-box;

    + .popbody {
      padding-top: 0;
    }

    .buttonClose {
      position: absolute;
      top: 22px;
      right: 30px;
    }
  }

  .popbody {
    overflow-y: auto;
    position: relative;
    max-height: 641px;
    padding: 20px 24px 0;
    text-align: left;
    box-sizing: border-box;
  }

  .pophead_tit {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
  }

  .pophead_sub {
    margin-top: 10px;
    font-size: 16px;
  }

  .popSection_desc {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
  }

  .pop_msg {
    font-size: 14px;

    + .pop_desc {
      font-size: 13px;
      margin-top: 20px;
    }
  }

  .pop_desc {
    font-size: 14px;
    color: black;
  }

  .popfoot {
    width: 100%;
    padding: 30px 24px 20px;
    text-align: right;
    box-sizing: border-box;

    .buttonComp {
      height: 34px;
      padding: 0 14px;
      font-size: 16px;
      margin-left: 6px;
    }

    .buttonLeft {
      float: left;
      margin: 0;
    }
  }

  .tit_label {
    display: block;
    margin-bottom: 6px;
    font-weight: 400;
  }

  .type_divide {
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
  }
}
