.dashboard {
  height: 100%;
  width: 100%;

  .main_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .title_wrap {
      display: flex;
      flex-direction: column;
      gap: 16px;
      color: var(--font-default);

      .title {
        font-size: 28px;
        font-weight: 800;
      }

      .issue_description {
        font-size: 22px;
        font-weight: 400;
      }
    }

    .contents_wrap {
      width: 100%;
      padding: 40px 0;
      background-color: var(--bg-lightGray);
      border-bottom: 2px solid var(--line-default);

      // 전체 프로젝트 issue 현황
      .issue_status_wrap {
        width: 1100px;
        margin: 0 auto;

        ul {
          display: flex;
          gap: 14px;
          margin-top: 30px;
          grid-template-columns: repeat(4, 1fr);

          .li_item {
            cursor: pointer;
            height: 120px;
            width: calc((100% - (14px * 3)) / 4);
            background-color: var(--bg-default);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            padding: 20px 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: var(--font-white);

            .title {
              font-size: 18px;
              font-weight: 700;
            }

            .count {
              font-size: 32px;
              font-weight: 1000;
              text-align: end;
            }
          }
        }
      }
    }

    // 전체 프로젝트 현황 chart
    .chart_wrap {
      width: 1100px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 16px;
      // margin-top: 30px;
      .bar_chart_wrap {
        display: grid;
        gap: 14px;
        //   grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));

        .bar_chart {
          width: 100%;

          .title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 16px;
          }
        }
      }
    }

    // 최근 업데이트된 이슈 목록
    .recent_wrap {
      width: 1100px;
      margin: 0 auto;

      .title {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 16px;
      }
    }
  }
}
