@use "base_mixin" as *;

// --------------------------- Header --------------------------- //
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 999;
  border-bottom: 1px solid var(--line-default);

  .header_left {
    display: flex;

    img {
      cursor: pointer;
      width: 120px;
      height: 40px;
    }
  }

  .header_right {
    button {
      margin-right: 10px;
    }
  }
}

// --------------------------- Sidebar --------------------------- //
.sidebar_container {
  // position: relative;
  z-index: 10;
  display: block;
  width: 260px;
  height: 100%;
  flex: 0 0 260px;

  .sidebar_box {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-right: 2px solid var(--line-default);
    padding: 4px 6px 64px 6px;
    box-sizing: border-box;

    .sidebar_subgroup {
      padding: 10px 0px;
    }

    .sidebar_subheader {
      display: flex;
      align-items: center;
      justify-content: start;
      font-size: 16px;
      font-weight: 500;
      color: black;
      padding: 11px 20px;
      box-sizing: border-box;
    }

    .sidebar_item {
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.7);

      display: inline-block;
      width: 100%;
      padding: 10px 30px;
      box-sizing: border-box;
      text-decoration: none;

      &.on,
      &:hover {
        @include item_hover();
        color: rgba(0, 0, 0, 0.95);
        font-weight: 600;
      }

      .sidebar_item_count {
        display: inline-block;
        padding: 0 8px;
        margin: 0 0 0 6px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        font-size: 12px;
        color: white;
        background-color: rgb(107, 107, 172);
        border-radius: 20px;
        box-sizing: border-box;
      }
    }

    .sidebar_divider {
      border-color: var(--line-default);
      border-style: solid;
      border-width: 0px 0px 1px;
    }
  }
}

// --------------------------- Main Contents --------------------------- //
.content_area {
  width: 100%;
  padding-bottom: 40px; // ν‘Έν„°λ§νΌ
}

// --------------------------- Footer --------------------------- //
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 8px 12px;
  height: 40px;
  // width: 100%;
  width: calc(100% - 260px);
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 400;
  border-top: 2px solide var(--line-default);
}

// --------------------------- Login --------------------------- //
// .auth-layout {
//   position: relative;
//   top: 80px;
//   min-height: calc(100vh - 80px - 40px);
//   display: flex;
//   align-items: center;
//   justify-self: center;
// }
