// --------------------------- Header --------------------------- //
.header {
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  .header_left {
    display: flex;

    img {
      width: 160px;
      height: 60px;
    }
  }
}

// --------------------------- Footer --------------------------- //
.footer {
  position: fixed;
  bottom: 0;
  padding: 8px 12px;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 400;
}

// --------------------------- Login --------------------------- //
.auth-layout {
  position: relative;
  top: 80px;
  min-height: calc(100vh - 80px - 40px);
  display: flex;
  align-items: center;
  justify-self: center;
}
