:root {
  --btn-black: #151515;
  --btn-gray: #999;
  --hovered-color: #c84747;

  --error-color: #cd0a0a;

  --font-default: #37383f;
  --font-white: #fff;

  --line-default: #e5e5e5;

  --bg-default: #37383F;
  --bg-lightGray: #F8F9F9;
}
